*{
margin: 0px;
padding: 0px;
border: none;
box-sizing: border-box;
font-size: large;
}

body{
  background-color: #000;
}

.calc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  left: -230px;
  transition: all 0.2s;
}

.calc_exibir{
  left: 0px !important;
  transition: all 0.2s;
}

.calc_principal{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #eee;
border: 3px solid rgb(0, 26, 255) ;
width: 230px;
border-radius: 5px;
}

.div_nome{
display: flex;
justify-content: center;
align-items: center;
width: 220px;
}

.div_teclas{
display: flex;
justify-content: center;
align-items: center;
width: 220px;
flex-wrap: wrap;
}

.tecla{
display: flex;
justify-content: center;
align-items: center;
background-color: #aaa;
border: 3px solid #000;
border-radius: 10px;
font-weight: bold;
width: 50px;
height: 50px;
cursor: pointer;
margin: 2px;
}

.teclaOp{
  background-color: rgb(24, 22, 131) !important;
  border-color: rgb(32, 207, 219) !important;
}

/* DISPLAY */ 

.div_display{
display: flex;
justify-content: center;
align-items: center;
width: 220px;
border: 1px solid #000;
}

.display{
width: 220px;
background-color: #3ec7d1;
text-align: right;
padding: 5px;
font-family: monospace;
font-size: larger;
}

.calc_aba{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 50px;
  background-color: #8d8d8d;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

.teclaOp{
  color: #fff;
}

.tecla{
  transition: 0.7s;
}

.tecla:hover{
  background-color: #5f5f5f;
}

